.main {
    width: 100%;
    background-color: rgb(219, 216, 216);
    padding-bottom: 6%;
}

.top {
    text-align: center;
}

.ttl {
    padding: 3% 0
}

.confi {
    text-align: center;
}
.confi-wait {
    color: red;
    font-weight: bold;
}
.message {
    text-align: center;
}
.message-text {
    color: red;
    font-weight: bold;
}