.main {
    width: 100%;
    background-color: rgb(219, 216, 216);
    padding-bottom: 15%;
}

.top {
    text-align: center;
}

.ttl {
    padding: 3% 0
}

.login {
    margin: 0 auto;
    text-align: center;
}

.input {
    margin-bottom: 3%;
}

.email,
.password {
    width: 35%;
    padding: 1% 1%;
    border: 1px solid #4b4a4a;
    background-color: rgb(219, 216, 216);
    text-align: left;
}

.form-button__submit {
    background-color: blue;
    color: #fff;
    width: 37%;
    padding: 1% 1%;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    opacity: 0.7;
}

.have {
    text-align: center;
}

.have-text {
    font-size: 12px;
    color: rgb(138, 136, 136);
}

.have-not-login {
    text-decoration: none;
    display: inline-block;
    color: blue;
}

.have-not-login:hover {
    opacity: 0.8;
}

.error {
    color: red;
    margin-top: -3%;
}