.register {
    margin: 0 auto;
    text-align: center;
    width: 30%;
    box-shadow: 2px 2px 4px gray;
    margin-top: 8%;
}

.register-ttl {
    background-color: blue;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.register-ttl__top {
    color: #fff;
    margin: 0;
    padding: 13px 13px;
}

.register-inner {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.user {
    padding: 5% 3%;
}

.user-name,
.user-email,
.user-password {
    margin-bottom: 2%;
}

.user-name__input,
.user-email__input,
.user-password__input,
.user-password_confirmation__input {
    width: 60%;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid #000;
}

.icon {
    margin-right: 1%;
}

.button {
    padding-bottom: 5%;
    text-align: right;
}

.button-submit {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    margin-right: 10%;
    padding: 6px 15px;
    cursor: pointer;
}

.button-submit:hover {
    opacity: 0.6;
}

@media screen and (max-width:800px) {
    .register {
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .register-ttl__top {
        font-size: 18px;
    }

    .button-submit {
        font-size: 10px;
    }
}