.list {
    display: flex;
}

.item {
    list-style: none;
    margin-right: 40px;
    line-height: 3.5;
    cursor: pointer;
}

.item a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}
.lists .list .item.active a {
    color: rgb(114, 176, 201);
}
.item a:hover {
    color: #eb8f8f;
}

.form-button {
    border: none;
    background-color: #fff;
}

.form-button:hover {
    color: red;
}

.main {
    width: 100%;
    background-color: rgb(219, 216, 216);
    margin-top: 1.3%;
}
.error {
    text-align: center;
    color: red;
    font-weight: bold;
}
.error-in {
    letter-spacing: 2px;
}
.user {
    margin: 0 auto;
    width: 50%;
    padding-top: 3%;
}
.user-ttl {
    width: 100%;
    text-align: center;
}
.user-ttl__name {
    font-size: 25px;
}
.search {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.search-item__input {
    width: 400px;
    padding: 3%;
    font-size: 15px;
}
.search-button__submit {
    background-color: #fff;
    border: 2px solid rgb(29, 171, 227);
    border-radius: 5px;
    height: 45px;
    width: 100px;
    box-shadow: 2px 2px rgb(29, 123, 160);
}
.search-button__submit:hover {
    background-color: #f0bdbd; 
}
.search-button__submit:active {
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}
.table {
    margin-top: 8%;
    
}
.table-inner {
    width: 100%;
    table-layout: fixed;
}
.table-row {
    border-top: 1px solid rgb(158, 156, 156);
    display: flex;
    justify-content: space-around;
}
.table-row__th {
    flex-basis: 20%;
    font-size: 18px;
    padding: 2% 0;
}
.table-row__td {
    flex-basis: 20%;
    text-align: center;
}

.name-list__p {
    font-size: 15px;
    font-weight: bold;
    padding-top: 2% ;
}
.diligence-list__link {
    display: inline-block;
    padding-top: 8%;
    font-size: 20px;
    text-decoration: none;
}
.diligence-list__link:hover {
    color: #f0bdbd;
}
.diligence-list__link:active {
    position: relative;
    left: 3px;
}
.page {
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

li {
    list-style: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-left: -3%;
}

.pagination .active {
    color: #fff !important;
    background-color: rgb(29, 171, 227) !important;
}

.page_count .pagination li {
    padding: 5px 10px;
    border: 2px solid rgb(29, 171, 227);
    color: rgb(29, 171, 227);
    background-color: #fff;
}

.page_count .pagination li:hover {
    background-color: #f0bdbd;
}

.page_count .pagination li a {
    text-decoration: none;
}


@media screen and (max-width:1050px) {
    .search-item__input {
        width: 300px;
    }
    .search-button__submit {
        width: 75px;
    }
}
@media screen and (max-width:900px) {
    .user-ttl__name {
        font-size: 20px;
    }
    .table-row__th {
        font-size: 13px;
    }
    .iligence-list__link {
        font-size: 14px;
    }
}
@media screen and (max-width:800px) {
    .search-item__input {
        width: 240px;
    }

    .search-button__submit {
        width: 50px;
        height: 35px;
    }
    .name-list__p {
        font-size: 12px;
    }
}
@media screen and (max-width:650px) {
    .user-ttl__name {
        font-size: 15px;
    }
    .table-row__th {
        font-size: 9px;
    }
    .iligence-list__link {
        font-size: 12px;
    }
    .search-item__input {
        width: 200px;
    }
    .search-button__submit {
        width: 38px;
        height: 34px;
        font-size: 5px;
    }
    .name-list__p {
        font-size: 10px;
    }
    .error {
        font-size: 12px;
    }
}
@media screen and (max-width:565px) {
    .item {
        margin-right: 10px;
    }
    .name-list__p {
        font-size: 6px;
    }
}
@media screen and (max-width:500px) {
    .user-ttl__name {
        font-size: 15px;
    }
    .table-row__th {
        font-size: 9px;
    }
    .iligence-list__link {
        font-size: 12px;
    }
    .search-item__input {
        width: 160px;
    }
    .search-button__submit {
        width: 40px;
        height: 30px;
        font-size: 1px;
        
    }
    .name-list__p {
        font-size: 4px;
    }
    .error {
        font-size: 10px;
    }
}