.voice {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.voice-inner {
    display: flex;
}
/* 左・お店 */
.voice-left {
    width: 40%;
    margin-left: 10%;
    margin-top: 4%;
    border-right: 1px solid #000;
}
.voice-left__ttl {
    width: 70%;
}
.voice-left__ttl-top {
    font-size: 40px;
}
.voice-left__card {
    width: 60%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 3px gray;
    margin-left: 5%;
    padding-bottom: 2%;
    margin-top: 4%;
    
}
.card-top__img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.shop-name {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: -2%;
}
.shop-area {
    display: flex;
    margin-left: 6%;
}
.shop-area__place {
    margin-right: 3%;
}
.detail {
    display: flex;
    justify-content: space-between;
}
.detail-see {
    background-color: blue;
    margin-left: 7%;
    border-radius: 5px;
    color: #fff;
    padding: 5px 12px;
    border: none;
    text-decoration: none;
    line-height: 180%;
}
.detail-see:hover {
    opacity: 0.6;
}
.detail-favorite {
    margin-right: 6%;
}
.detail-favorite__submit {
    background-color: #fff;
    border: none;
}
.heart {
    font-size: 35px;
    color: rgb(201, 199, 199);
    cursor: pointer;
}
.heart-red {
    color: red;
    font-size: 35px;
}

/* 右・口コミ */
.voice-right {
    width: 60%;
    text-align: left;
    padding-left: 7%;
}
.star-ttl,
.comment-ttl,
.image-ttl {
    font-size: 24px;
}
.star-ttl {
    margin-bottom: 0;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    position: relative;
    padding: 0 5px;
}
.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label {
    color: yellow;
}
.comment-inner {
    width: 90%;
    background-color: rgb(226, 225, 225);
    padding: 2% 3%;
    font-size: 15px;
}
.comment-max {
    width: 90%;
    text-align: right;
    margin-top: 0;
    font-size: 12px;
}
.image-upload {
    background-color: #fff;
    border: none;
    text-align: center;
    width: 90%;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
}
.voice-button {
    margin-top: 5%;
    position: relative;
}
.voice-button__submit {
    position: absolute;
    top: 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 2% 20%;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10%;
}
.voice-button__submit:hover {
    background-color: blue;
    color: #fff;
}
.error-rating,
.error-comment,
.error-image {
    color: red;

}

@media screen and (max-width:1070px) {
    .voice-left__ttl-top {
        font-size: 30px;
    }
}
@media screen and (max-width:905px) {
    .detail-see {
        font-size: 12px;
    }
}
@media screen and (max-width:790px) {
    .detail-see {
        font-size: 10px;
        line-height: 270%;
    }
}
@media screen and (max-width:724px) {
    .shop-area__place, 
    .shop-area__genre {
        font-size: 8%;
    }
    .detail-see {
        font-size: 8px;
        line-height: 300%;
    }
}
@media screen and (max-width:680px) {
    .voice-inner {
        display: flex;
        flex-direction: column;
    }
    .voice-left {
        border-right: none;
        margin-left: 0;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-right: 5%;
    }
    .voice-right {
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
        width: 70%;
    }
    .star-rating {
        margin-left: 28%;
    }
    .image-upload {
        margin-left: 5%;
    }
    .voice-button__submit {
        width: 80%;
        left: 50px;
    }
}
@media screen and (max-width:550px) {
    .star-rating {
        margin-left: 20%;
    }
    .voice-button__submit {
        left: 35px;
    }
}